body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #bbb;
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 200px auto;
}

/* let's work on each element of the calculator*/

div.top-screen, div.bottom-screen{
    grid-column: 1/5;
    background-color: #072B47;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 20px;
    cursor: pointer;
}

button#ac {
    grid-column: 1/3;
}

button#equal {
    grid-column: 3/5;
}